<%= form_with url: image_like_path(@image, @image.likes.find { |like| like.user_id == current_user.id}), method: :delete, local: true do |form| %>
  <button style="border: none; background: none" type="submit" value="submit">
    <%= image_tag("dislike.png", size: "40") %>
  </button>
<%end%>
