<div class="col">
    <div class="row-12">
    Your photos:
    <%= f.file_field :photos, multiple: true, class:"input100" %>
    </div>
    <div class="row-12">
    Description:
    <%= f.text_field :description %>
    </div>
</div>